.vs/
AyonixAPIService_Setup/Debug/
AyonixAPIService/bin/Debug/Ayonix.FaceID.dll
AyonixAPIService/bin/Debug/AyonixAPIService.exe
AyonixAPIService/bin/
AyonixAPIService/obj/Debug/AyonixAPIService.csproj.CopyComplete
AyonixAPIService/obj/
AyonixIPCCommon/bin/
AyonixIPCCommon/obj/
AyonixWebAPI_Setup/Debug/
AyonixWebAPI/bin/
AyonixWebAPI/obj/
FoxBIT.AyonixDB/bin/
FoxBIT.AyonixDB/obj/Debug/FoxBIT.AyonixDB.csproj.CopyComplete
FoxBIT.AyonixDB/obj/
IPC/bin/
IPC/obj/
Test/bin/
Test/obj/
AyonixAPIService_Setup/Release/
AyonixWebAPI_Setup/Release/
